<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.ups.m2dl.ter.challenge"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="fr.ups.m2dl.ter.challenge.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="fr.ups.m2dl.ter.challenge.MenuPrincipalActivity"
            android:label="@string/title_activity_menu_principal" >
        </activity>
        <activity
            android:name="fr.ups.m2dl.ter.challenge.SensorMagneticExempleActivity"
            android:label="@string/title_activity_sensor_magnetic_exemple" >
        </activity>
        <activity
            android:name="fr.ups.m2dl.ter.challenge.SensorTemperatureExempleActivity"
            android:label="@string/title_activity_sensor_temperature_exemple" >
        </activity>
        <activity
            android:name="fr.ups.m2dl.ter.challenge.SensorAccelerometerExempleActivity"
            android:label="@string/title_activity_sensor_accelerometer_exemple" >
        </activity>
    </application>

</manifest>